button {
    border: none;
    background-color: #e0e0e0;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}

button:hover {
    background-color: rgb(61, 43, 184);
}

.equals {
    background-color: #f5923e;
    grid-column: 4 / 5;
}

.equals:hover {
    background-color: rgb(228, 39, 15);
}

.wide{
    border: none;
    background-color: #e0e0e0;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    grid-column: 1 / 3;
}